.form-container {
    background-color: #2E2C59;
    padding: 1em;
    border: 3px solid #69FBC4;
    border-radius: 1em;
    width: 90%;
    max-width: 1300px;
    margin: 3em auto;

    @media (min-width: 768px){
        padding: 2em;
    }
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    &-group {
        display: flex;
        flex-direction: column;
        gap: 2em;
        @media (min-width: 768px){
            display: flex;
            flex-direction: row;
            gap: 1em;
        }
    }

    &-buttons {
        margin-top: 1em;
        display: flex;
        justify-content: space-evenly;
        gap: 0.5rem;
    }
}