@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap');

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #38A18C;
    padding: 1em;
    gap: 0.5em;
    position: sticky;
    top: 0;
    z-index: 100;

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        order: 2;

        &:hover{
            transform: scale(1.07);
        }

        &__logo {
            width: 5em;
        }
    }

    &__search-form-container {
        display: flex;
        background-color: #ffffff;
        border-radius: 1em;
        padding: 0.5em 0;
        justify-content: center;
        order: 4;
        flex: 1 1 100%;
        max-width: 800px;

        @media (min-width: 768px) {
            order: 2;
            flex: 1 1;
        }
    }

    &__cart-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F1F1;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        order: 3;

        &:hover {
            cursor: pointer;
            background-color: #fefefe;
        }

        &__shopping-cart {
            display: block;
            background-image: url(../assets/img/shopping-cart.svg);
            background-size: cover;
            width: 2.5em;
            height: 2.5em;
        }
    }

    &__hamburger-button-container{
        order: 1;

        @media (min-width:768px) {
            display: none;
        }
    }

    &__main-nav-container{
        order: 5;
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
    }

    &__main-nav-container {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }
}

.search-form {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    flex: 1 1 100%;
    gap: 0.5em;

    &__label {
        width: 2em;
        flex-shrink: 0;
        background-image: url(../assets/img/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__input {
        width: 100%;
        outline: none;
        border: none;
        font-size: 1.2em;
    }

    &__search {
        cursor: pointer;
        text-align: center;
        padding: 0.3em 1em;
        border-radius: 0.5em;
        border: none;
        color: #ffffff;
        background-color: #2e2c59;
        box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);

        &:active {
            box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
            outline: 0;
        }
    }
}