@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap');

// font-family: 'Inter', sans-serif;
// font-family: 'Poppins', sans-serif;

.section-cards {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    

    &__header{
        color: #211f4f;
        padding-bottom: 1em;
        border-bottom: 0.5em dotted #211f4f;
        margin: 2em 0;

        @media (min-width: 768px) {
            text-align: center;
        }

        &__title {
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
        }

        // &__description {
        //     text-decoration: underline;
        // }
    }
}

