.section-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__header{
        color: #211f4f;
        padding: 1em;
        border-bottom: 0.5em dotted #211f4f;
        margin: 1em 0;

        @media (min-width: 768px) {
            text-align: center;
        }

        &__title {
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
        }
    }

    &__footer {
        background-image: url(../assets/img/bg-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1em;
        margin: 2em 0 0;
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    padding: 0 1em;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    &__label {
        font-family: 'Poppins', sans-serif;
        font-size: 2em;
        font-weight: 700;
        color: #211f4f;
        text-align: center;
    }

    &__email {
        padding: 0.5em 2em;
        border-radius: 1em;
        border: none;
        outline: none;
        width: 100%;
        max-width: 600px;
    }

    &__description {
        font-weight: 500;
        text-align: center;
    }
}
