<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.svg">
</head>
<body>

    <input type="checkbox" class="main-nav-toggle" id="main-nav-toggle">
    <input type="checkbox" class="main-cart-toggle" id="main-nav-cart">

    <div class="contact">
        <a class="contact__link" href="https://api.whatsapp.com/send?phone=3412275492">
            <img class="contact__link__image" src="./assets/img/whatsapp.svg" alt="Icono para contacto por WhatsApp">
        </a>
    </div>

    <header class="main-header">
        <div class="main-header__logo-container">
            <img class="main-header__logo-container__logo" src="./assets/img/logo.svg" alt="Logo de Juguetería Cósmica">
        </div>
        <div class="main-header__search-form-container">
            <form class="search-form">
                <label class="search-form__label" for="search"></label>
                <input class="search-form__input" type="search" placeholder="Buscar..." id="search">
                <button class="search-form__search">Buscar</button>
            </form>
        </div>
        <div class="main-header__cart-button-container">
            <label for="main-nav-cart" class="shopping-cart-button"></a>
        </div>
        <div class="main-header__hamburger-button-container">
            <label class="hamburger-button" for="main-nav-toggle" title="Alternar la barra de navegación">
                <span class="hamburger-button__top-bread"></span>
                <span class="hamburger-button__meat"></span>
                <span class="hamburger-button__bottom-bread"></span>
            </label>
        </div>
        <div class="main-header__main-nav-container">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="#/inicio" class="main-nav__link">Inicio</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#/alta" class="main-nav__link">Alta</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#/contacto" class="main-nav__link">Contacto</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#/nosotros" class="main-nav__link">Nosotros</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="shopping-cart">
            <div class="shopping-cart__close">
                <img class="shopping-cart__close__image" src="./assets/img/close.svg" alt="Icono para cerrar ventana"
                    title="Cerrar" id="close__modal">
            </div>
            <p class="shopping-cart__title">Tu carrito:</p>
    
            <div class="shopping-cart__item">
                <div class="shopping-cart__item__buttons">
                    <span class="shopping-cart__item__buttons__like-btn"></span>
                    <span class="shopping-cart__item__buttons__delete"></span>
                </div>
    
                <img class="shopping-cart__item__image" src="./assets/products/producto1.jpg" alt="Producto1" />
    
                <div class="shopping-cart__item__description">
                    <span class="shopping-cart__item__description__name">Disfraz Disney</span>
                    <span class="shopping-cart__item__description__info">Disfraz Disney encanto Mirabel talle "1"</span>
                </div>
    
                <div class="shopping-cart__item__quantity">
                    <button class="shopping-cart__item__quantity__plus-btn" type="button" name="button">
                        <img class="shopping-cart__item__quantity__plus-btn__image" src="./assets/img/plus.svg" alt="">
                    </button>
                    <input class="shopping-cart__item__quantity__number" type="number" name="name" value="1">
                    <button class="shopping-cart__item__quantity__minus-btn" type="button" name="button">
                        <img class="shopping-cart__item__quantity__minus-btn__image" src="./assets/img/minus.svg" alt="">
                    </button>
                </div>
    
                <div class="shopping-cart__item__price">
                    <span class="shopping-cart__item__price__number">Subtotal:</span>
                    <span class="shopping-cart__item__price__number">$549</span>
                </div>
            </div>
            <div class="shopping-cart__buy">
                <div class="shopping-cart__buy-total">
                    <span class="shopping-cart__buy-total__title">Total:</span>
                    <span class="shopping-cart__buy-total__number">$549</span>
                </div>
                <div class="shopping-cart__buy__button-container">
                    <button class="shopping-cart__buy__button btn" type="button" name="button"
                        id="buy-btn__modal">Comprar</button>
                </div>
            </div>
        </div>
    </header>

    <main class="content">
        
    </main>

    <footer class="main-footer">
        <div class="main-footer__logo-container">
            <img class="main-footer__logo-container__logo" src="./assets/img/logo.svg" alt="Logo de Juguetería Cósmica">
        </div>
        <div class="main-footer__data">
            <p>Ituzaingo 651</p>
            <p>Rosario, Santa Fe, Argentina - S2000</p>
        </div>
        <div class="main-footer__data">
            <p>+54 9 341-2275492</p>
            <p>0800 999 3462</p>
            <p>ventasonline@jugueteriacosmica.com.ar</p>
        </div>
        <div class="main-footer__social">
            <a href="https://www.facebook.com/">
                <img class="main-footer__social__logo" src="./assets/img/facebook.svg" alt="Logo de Facebook">
            </a>
            <a href="https://www.instagram.com/">
                <img class="main-footer__social__logo" src="./assets/img/instagram.svg" alt="Logo de Instagram">
            </a>
        </div>
    </footer>

<script src="/js/main.js"></script>
</body>
</html>