<header class="banner">
  <div class="banner-info">
    <h1 class="banner-info__title">Juguetería Cósmica</h1>
    <h2 class="banner-info__description">Envianos tus consultas y sugerencias</h2>
  </div>
  <div class="banner-display">
    <img class="banner-display__image" src="./assets/img/banner.jpg" alt="Foto de niños jugando">
  </div>
</header>

<div class="form-container">
  <form class="main-form" id="form-add-product" action="post" autocomplete="off">

    <div class="main-form-group">
      <input class="input-group__input" id="product-id" type="hidden">
      
      <div class="input-group">
        <label class="input-group__label" for="product-name" required>
          Nombre del producto:
        </label>
        <input class="input-group__input" id="product-name" type="text" placeholder="Ej: Pelota Mundial Qatar 2022">
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-brand">
          Marca del producto:
        </label>
        <input class="input-group__input input-group__input__brand" list="product-brands" id="product-brand"
          name="product-brand" placeholder="Ej: Mattel, Hasbro, etc"/>
        <datalist id="product-brands">
          <option value="HASBRO">
          <option value="MATTEL">
          <option value="PINYPON">
          <option value="DISNEY">
          <option value="DURAVIT">
        </datalist>
      </div>
    </div>

    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="product-price">
          Precio
        </label>
        <input class="input-group__input" id="product-price" type="number" step=".01" placeholder="Ej: 15000" required>
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-stock">
          Stock
        </label>
        <input class="input-group__input" id="product-stock" type="number" placeholder="Ej: 100" required>
      </div>
    </div>

    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="product-category">
          Categoría:
        </label>
        <input class="input-group__input" list="product-categories" id="product-category" name="product-category" placeholder="Ej: Juego de Construcción"/>
        <datalist id="product-categories">
          <option value="AIRE LIBRE">
          <option value="ARTE INFANTIL">
          <option value="JUEGO DE CONSTRUCCION">
          <option value="COTILLON">
          <option value="FIGURAS DE ACCION">
          <option value="JUEGO DE IMITACION">
          <option value="JUEGO DE MESA">
          <option value="ROMPECABEZAS">
          <option value="PELOTAS">
          <option value="MUÑECAS Y BEBES">
          <option value="INFLABLES">
          <option value="PELUCHES">
          <option value="VEHICULOS">
          <option value="MUSICALES">
          <option value="REGALERIA">
        </datalist>
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-short-description">
          Descripción breve:
        </label>
        <input class="input-group__input" id="product-short-description" type="text" placeholder="Ingrese una descripción corta" required>
      </div>
    </div>

    <div class="main-form-long-description">
      <div class="input-group">
        <label class="input-group__label" for="product-long-description">Descripción larga: (máx. 2000
          caracteres)</label>
        <textarea class="input-group__textarea" name="product-long-description" placeholder="Ingrese la descripción completa del producto" id="product-long-description" cols="30"
          rows="10" required></textarea>
      </div>
    </div>

    

    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="product-age-format">Formato de las edades</label>
        <select class="input-group__select" name="select" id="product-age-format" required>
          <option value="years" selected>Años</option>
          <option value="months">Meses</option>
        </select>
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-age-from"> Edad desde:</label>
        <input class="input-group__input" id="product-age-from" type="number" placeholder="Ej: 0" required>
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-age-to"> Edad hasta:</label>
        <input class="input-group__input" id="product-age-to" type="number" placeholder="Ej: 12" required>
      </div>
    </div>

    <div class="main-form-group">
      <div class="input-group-check">
        <label class="input-group-check__label" for="product-free-shipping">Envío gratis:</label>
        <input class="input-group-check__checkbox" type="checkbox" name="product-free-shipping"
          id="product-free-shipping">
      </div>

      <div class="input-group">
        <label class="input-group__label" for="product-image">Añadir imagen del producto (max: 300px):</label>
        <input class="input-group__file" type="file" name="product-image" id="product-image"
          accept=".png,.jpg,.jpeg" required>
      </div>
    </div>

    <div class="main-form-buttons">
      <button class="btn" id="product-add">Agregar</button>
      <button class="btn" id="product-edit">Editar</button>
      <input class="btn btn__reset" id="product-reset" type="reset" value="Resetear">
    </div>

  </form>
</div>

<section class="section-products-table">
    <div class="products-table-container"></div>
</section>


<footer class="banner__footer">
  <form class="newsletter">
    <label class="newsletter__label" for="newsletter-input">Conocé nuestras novedades</label>
    <input class="newsletter__email" type="email" name="newsletter-input" id="newsletter-input"
      placeholder="example@email.com">
    <input class="btn" type="submit" value="Suscribirme">
    <p class="newsletter__description">Recibí nuestras promociones y beneficios exclusivos para clientes</p>
  </form>
</footer>