<header class="banner">
  <div class="banner-info">
    <h1 class="banner-info__title">Juguetería Cósmica</h1>
    <h2 class="banner-info__description">Aquí puedes agregar, editar o borrar productos</h2>
  </div>
  <div class="banner-display">
    <img class="banner-display__image" src="./assets/img/banner.jpg" alt="Foto de niños jugando">
  </div>
</header>

<div class="show-title">
  <header class="show-title__header">
    <h2 class="show-title__header__title">Alta de productos</h2>
    <p class="show-title__header__description">Por favor completa los datos de la forma más precisa posible</p>
  </header>
</div>

<div class="form-container">
  <form class="main-form" id="form-add-product" action="post" autocomplete="off">

    <div class="main-form-group">
      <input class="input-group__input" id="product-id" name="id" type="hidden">
      
      <div class="input-group">
        <label class="input-group__label" for="product-name" required>
          Nombre del producto:
        </label>
        <input class="input-group__input" id="product-name" name="name" type="text" placeholder="Ej: Pelota Mundial Qatar 2022" data-validable="true">
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-brand">
          Marca del producto:
        </label>
        <input class="input-group__input input-group__input__brand" list="product-brands" id="product-brand"
          name="brand" placeholder="Ej: Mattel, Hasbro, etc" data-validable="true"/>
        <datalist id="product-brands">
          <option value="HASBRO">
          <option value="MATTEL">
          <option value="PINYPON">
          <option value="DISNEY">
          <option value="DURAVIT">
        </datalist>
      </div>
    </div>

    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="product-price">
          Precio
        </label>
        <input class="input-group__input" id="product-price" name="price" type="number" step=".01" placeholder="Ej: 15000" required data-validable="true">
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-stock">
          Stock
        </label>
        <input class="input-group__input" id="product-stock" name="stock" type="number" placeholder="Ej: 100" data-validable="true" required>
      </div>
    </div>

    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="product-category">
          Categoría:
        </label>
        <input class="input-group__input" list="product-categories" id="category" name="category" placeholder="Ej: Juego de Construcción" data-validable="true"/>
        <datalist id="product-categories">
          <option value="AIRE LIBRE">
          <option value="ARTE INFANTIL">
          <option value="JUEGO DE CONSTRUCCION">
          <option value="COTILLON">
          <option value="FIGURAS DE ACCION">
          <option value="JUEGO DE IMITACION">
          <option value="JUEGO DE MESA">
          <option value="ROMPECABEZAS">
          <option value="PELOTAS">
          <option value="MUÑECAS Y BEBES">
          <option value="INFLABLES">
          <option value="PELUCHES">
          <option value="VEHICULOS">
          <option value="MUSICALES">
          <option value="REGALERIA">
        </datalist>
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-shortDescription">
          Descripción breve:
        </label>
        <input class="input-group__input" id="product-shortDescription" name="shortDescription" type="text" placeholder="Ingrese una descripción corta" data-validable="true" required>
      </div>
    </div>

    <div class="main-form-long-description">
      <div class="input-group">
        <label class="input-group__label" for="product-longDescription">Descripción larga: (máx. 2000
          caracteres)</label>
        <textarea class="input-group__textarea" name="longDescription" id="product-long-description" placeholder="Ingrese la descripción completa del producto" data-validable="true" cols="30"
          rows="10" required></textarea>
      </div>
    </div>

    

    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="product-ageFormat">Formato de las edades</label>
        <select class="input-group__select" name="ageFormat" id="product-ageFormat" required>
          <option value="years" selected>Años</option>
          <option value="months">Meses</option>
        </select>
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-ageFrom"> Edad desde:</label>
        <input class="input-group__input" id="product-ageFrom" name="ageFrom" type="number" placeholder="Ej: 0" required data-validable="true">
      </div>
      <div class="input-group">
        <label class="input-group__label" for="product-ageTo"> Edad hasta:</label>
        <input class="input-group__input" id="product-ageTo" name="ageTo" type="number" placeholder="Ej: 12" required data-validable="true">
      </div>
    </div>

    <div class="main-form-group">
      <div class="input-group-check">
        <label class="input-group-check__label" for="product-freeShipping">Envío gratis:</label>
        <input class="input-group-check__checkbox" type="checkbox" name="freeShipping"
          id="product-freeShipping">
      </div>

      <div class="input-group">
        <label class="input-group__label" for="product-image">Añadir imagen del producto (max: 300px):</label>
        <input class="input-group__file" type="file" name="image" id="product-image"
          accept=".png,.jpg,.jpeg" required>
      </div>
    </div>

    <div class="main-form-buttons">
      <button type="button" class="btn" id="product-add">Agregar</button>
      <button type="button" class="btn" id="product-edit">Editar</button>
      <button type="button" class="btn btn__reset" id="product-reset">Resetear</button>
    </div>

  </form>
</div>

<div class="btn-container">
  <button id="product-show-table" class="btn">Mostrar productos</button>
</div>

<section class="section-products-table">
    <div class="products-table-container hidden"></div>
</section>


<footer class="banner__footer">
  <form class="newsletter">
    <label class="newsletter__label" for="newsletter-input">Conocé nuestras novedades</label>
    <input class="newsletter__email" type="email" name="newsletter-input" id="newsletter-input"
      placeholder="example@email.com">
    <input class="btn" type="submit" value="Suscribirme">
    <p class="newsletter__description">Recibí nuestras promociones y beneficios exclusivos para clientes</p>
  </form>
</footer>