<header class="banner">
  <div class="banner-info">
    <h1 class="banner-info__title">Juguetería Cósmica</h1>
    <h2 class="banner-info__description">Envianos tus consultas y sugerencias</h2>
  </div>
  <div class="banner-display">
    <img class="banner-display__image" src="./assets/img/banner.jpg" alt="Foto de niños jugando">
  </div>
</header>

<div class="show-title">
  <header class="show-title__header">
    <h2 class="show-title__header__title">Contactanos</h2>
    <p class="show-title__header__description">Aquí puedes dejarnos tus mensajes, sugerencias o dudas</p>
  </header>
</div>

<div class="form-container">
  <form class="main-form" id="form-add-comment" action="post" autocomplete="off">
    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="user-name">
          Nombre:<sup>&ast;</sup>
        </label>
        <input class="input-group__input" name="name" id="user-name" type="text" placeholder="Ej: Nombre">
      </div>
      <div class="input-group">
        <label class="input-group__label" for="user-lastname">
          Apellido:<sup>&ast;</sup>
        </label>
        <input class="input-group__input" name="lastName" id="user-lastname" type="text" placeholder="Ej: Apellido">
      </div>
    </div>

    <div class="main-form-group">
      <div class="input-group">
        <label class="input-group__label" for="user-telephone">
          Teléfono:<sup>&ast;</sup>
        </label>
        <input class="input-group__input" name="telephone" id="user-telephone" type="text" placeholder="Ej: 3412273492">
      </div>
      <div class="input-group">
        <label class="input-group__label" for="user-email">
          Correo Electrónico:<sup>&ast;</sup>
        </label>
        <input type="email" class="input-group__input" name="email" id="user-email" placeholder="Ej: ejemplo@ejemplo.com.ar" required />
      </div>
    </div>

    <div class="main-form-comment">
      <div class="input-group">
        <label class="input-group__label" for="user-comment">Dejanos tu comentario: (máx. 300 caracteres)</label>
        <textarea class="input-group__textarea" name="message" id="user-comment" cols="30" rows="10" placeholder="Dejanos tu mensaje"></textarea>
      </div>
    </div>

    <div class="main-form-buttons">
      <button class="btn" id="btn-submit">Enviar</button>
    </div>

  </form>
</div>

<footer class="banner__footer">
  <form class="newsletter">
    <label class="newsletter__label" for="newsletter-input">Conocé nuestras novedades</label>
    <input class="newsletter__email" type="email" name="newsletter-input" id="newsletter-input"
      placeholder="example@email.com">
    <input class="btn" type="submit" value="Suscribirme">
    <p class="newsletter__description">Recibí nuestras promociones y beneficios exclusivos para clientes</p>
  </form>
</footer>