<header class="banner">
  <div class="banner-info">
    <h1 class="banner-info__title">Juguetería Cósmica</h1>
    <h2 class="banner-info__description">Sólo las mejores marcas</h2>
  </div>
  <div class="banner-display">
    <img class="banner-display__image" src="./assets/img/banner.jpg" alt="Foto de niños jugando">
  </div>
</header>
<section class="section-cards">
  <header class="section-cards__header">
    <h2 class="section-cards__header__title">Productos</h2>
    <p class="section-cards__header__description">Tenemos algunas ofertas para vos:</p>
  </header>

  <div class="cards-container">
    {{#if products}}
      {{#each products}}
      {{> card}}
      {{/each}}
        {{else}}
          <div class="error-404-container">
            <div class="error-404">
              <img class="error-404__image" src="/assets/img/404.svg" alt="Imagen de página no encontrada">
              <h4 class="error-404__title">Parece que no tenemos productos para mostrarte</h1>
              <a class="error-404__link" href="#/inicio">Ir a la página principal</a>
            </div>
          </div>
    {{/if}}
  </div>

  <footer class="section-cards__footer">
    <form class="newsletter">
      <label class="newsletter__label" for="newsletter-input">Conocé nuestras novedades</label>
      <input class="newsletter__email" type="email" name="newsletter-input" id="newsletter-input"
        placeholder="example@email.com">
      <input class="btn" type="submit" value="Suscribirme">
      <p class="newsletter__description">Recibí nuestras promociones y beneficios exclusivos para clientes</p>
    </form>
  </footer>
</section>