.btn {
    background-color: #211f4f;
    border: 1px solid #69fbc4;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    min-height: 40px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    flex-grow: 1;
    max-width: 150px;

    &:hover {
        background-color: #69fbc4;
        border: 1px solid #211f4f;
        color: #211f4f;
    }

    &:active {
        opacity: 0.5;
    }

    &__reset {
        background-color: #ff5a5f;
        color: #ffffff;
        border: 1px solid #c81d25;

        &:hover {
            background-color: #c81d25;
            border: 1px solid #ff5a5f;
            color: #ffffff;
        }
    }
}

