.contact {
    position: fixed;
    right: 14px;
    bottom: 100px;
    z-index: 9;
    width: auto;

    &__link{
        &__image {
            width: 3.5em;
            height: 3.5em;
        }
    }
}