.hamburger-button {
    display: block;
    cursor: pointer;
    width: 3em;
    height: 3em;
    background-color: transparent;
    position: relative;
    border-radius: .2em;

    &:hover {
        transform: scale(1.05);
    }

    &__top-bread {
        display: block;
        position: absolute;
        width:80%;
        height: 12%;
        top:20%;
        left: 10%;
        background-color: #211f4f;
    }

    &__meat {
        display: block;
        position: absolute;
        width:80%;
        height: 12%;
        top: 50%;
        left: 10%;
        background-color: #211f4f;
        transform: translateY(-50%);
    }

    &__bottom-bread {
        display: block;
        position: absolute;
        width:80%;
        height: 12%;
        bottom: 20%;
        left: 10%;
        background-color: #211f4f;
    }
}