.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    position: relative;

    @media (min-width: 425px) {
        flex-direction: row;
    }

    @media (min-width: 768px){
        flex-direction: column;
        flex-basis: 50%;
    }

    &-check {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em;
        position: relative;

        @media (min-width: 425px) {
            justify-content: flex-start;
        }

        @media (min-width: 768px){
            justify-content: space-between;
            flex: 1 0 50%;
        }

        &__label {
            color: #ffffff;
            letter-spacing: 1px;
            font-weight: 500;
            cursor: pointer;

            @media (min-width: 425px) {
                flex-basis: 50%;
                margin-bottom: 0;
            }
    
            @media (min-width: 768px){
                align-self: center;
                padding-bottom: 0.5em;
            }
        }

        &__checkbox {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.5em;
        }
    }
    
    &__label {
        color: #ffffff;
        margin-bottom: 0.5em;
        font-weight: 500;
        cursor: pointer;

        @media (min-width: 425px) {
            flex-basis: 50%;
            margin-bottom: 0;
        }

        @media (min-width: 768px){
            align-self: flex-start;
            padding-bottom: 0.5em;
        }
    }
    
    &__input {
        background-color: #ffffff;
        color: #000000;
        border-radius: 0.5em;
        outline: none;
        padding: 0.5em;
        border: 1px solid transparent;

        @media (min-width: 425px){
            flex-basis: 50%;
            min-width: 0px;
        }

        @media (min-width: 768px) {
            width: 100%;
        }
    }

    &__select {
        flex: 1 1 100%;
        padding: 0.3rem;
        outline: none;
        border: none;
        border-radius: 0.5rem;

        @media (min-width: 425px) {
            flex: 1 1 50%;
            min-width: 0;
        }
    }
    
    &__description {
        letter-spacing: 1px;
        font-weight: 500;
        margin-bottom: 0.5em;

        @media (min-width: 425px){
            flex-basis: 50%;
            margin-bottom: 0;
        }

        @media (min-width: 768px){
            align-self: flex-start;
        }
    }
    
    &__textarea {
        background-color: #ffffff;
        color: #000000;
        border-radius: 0.5em;
        outline: none;
        padding: 0.5em;
        border: 1px solid transparent;
        resize: none;

        @media (min-width: 425px){
            flex-basis: 50%;
            min-width: 0px;
        }

        @media (min-width: 768px){
            width: 100%;
        }
    }

    &__file {
        flex: 1 1 50%;
        width: 100%;
        color: #ffffff;
    }
}

.input{
    &__check{
        background-image: url("../assets/img/check.svg");
        background-repeat: no-repeat;
        background-color: #ffffff;
        background-size: 1.2em;
        background-position: right 1rem center;
    }

    &__error{
        border: 1px solid #de0e15;
        background-color: #d63c40;
        background-image: none;
        color: white;

        &::placeholder{
            color: white;
        }
    }
}