.error-404{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  min-height: 65vh;

  &__image {
    width: 20rem;
  }

  &__title {
    font-size: 1.2rem;
    color: #211f4f;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
  }

  &__link {
    color: #898989;
    font-size: 1.2rem;
    font-family: 'Inter', 'sans-serif';
  }
}