.popup{
  width: fit-content;
  border-radius: 0.5rem;
  padding:1rem;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: top 1s;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;

  &-success{
    background-color: #43c554;
    border: 2px solid #ffffff;
  }

  &-error{
    background-color: #ff5a5f;
    border: 2px solid #c81d25;
  }
}