{{#if products.length}}

{{#each products}}
{{> cart-item}}
{{/each}}

<div class="shopping-cart__buy">
  <div class="shopping-cart__buy-total">
    <span class="shopping-cart__buy-total__title">Total:</span>
    <span class="shopping-cart__buy-total__number">$<span id="shopping-cart__total"></span></span>
  </div>
  <div class="shopping-cart__buy__button-container">
    <button class="shopping-cart__buy__button btn" type="button" name="button" id="buy-btn__modal">Comprar</button>
  </div>
</div>



{{else}}

<div class="shopping-cart__empty">
  <h2 class="shopping-cart__empty__title">El carrito está vacío</h2>
</div>

{{/if}}
