<div class="successBuy">
  <div class="successBuy__image-container">
    <img class="successBuy__image" src="./assets/img/check.svg" alt="Imagen de éxito">
  </div>
  <div class="successBuy__title">
    <h2>Gracias por tu compra!</h2>
  </div>
  <div class="successBuy__text">
    <p class="successBuy__text__p">Hemos recibido tu compra!</p>
    <p class="successBuy__text__p">Te enviaremos por correo los detalles de tu compra.</p>
  </div>
  <div class="successBuy__button">
    <a href="/#/inicio" class="btn">Seguir comprando</a>
  </div>
</div>
